[Unit]
Description=Statistics collector for the pganalyze database monitoring service
After=network.target

[Service]
ExecStart=/usr/bin/pganalyze-collector --config=/etc/pganalyze-collector.conf --statefile=/var/lib/pganalyze-collector/state --no-log-timestamps
ExecReload=/bin/kill -HUP $MAINPID
User=pganalyze
ProtectSystem=full
ProtectHome=true
MemoryLimit=256M
CapabilityBoundingSet=CAP_SYS_PTRACE CAP_DAC_READ_SEARCH CAP_DAC_OVERRIDE
Restart=always

[Install]
WantedBy=multi-user.target
