[Unit]
Description=Statistics collector for the pganalyze database monitoring service
After=network.target

[Service]
ExecStart=/usr/bin/pganalyze-collector --config=/etc/pganalyze-collector.conf --statefile=/var/lib/pganalyze-collector/state --no-log-timestamps
ExecReload=/bin/kill -HUP $MAINPID
User=pganalyze
ProtectSystem=full
ProtectHome=true
CapabilityBoundingSet=
NoNewPrivileges=true
MemoryLimit=256MB

[Install]
WantedBy=multi-user.target
