name: CI

# N.B.: release.yml should be updated to match as necessary
permissions: {}

on:
  push:
    branches: [ ubicloud-build-test ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    # Use new enough OS that has CGroupsv2 enabled (required by the integration tests)
    runs-on: ubicloud-standard-2-arm

    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v4
      with:
        go-version: 1.21
      id: go

    - name: Set up protoc
      uses: pganalyze/setup-protoc@ab6203da1c3118e4406048171b09238ad31ad73e
      with:
        version: 3.14.0
        repo-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Check out code
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: Lint
      run: |
        test $(go fmt ./... | wc -l) -eq 0

    - name: Run tests
      run: |
        make build OUTFILE=pganalyze-collector-linux-arm64
        make test
        DOCKER_BUILDKIT=1 make integration_test
        shellcheck contrib/install.sh
